.ng-hide {
    display: none;
}

.imagechange {
    position: relative;
    top: 18px;
    left: 10px;
}

.imagecancel {
    position: relative;
    top: -10px;
    left: 60px;
}

.rgbBars {
    margin: 20px;
}

.slider {
    display: block;
    max-width: 100px;
    width: 100px;
}

.colorwidth {
    width: 60px;
    display: inline-block;
}

.head1 {
    display: inline-block;
    width: 100%;
}

.cell50 {
    width: 50%;
    float: left;
    font-weight: bold;
}

.cell25 {
    width: 25%;
    float: left
}