<div [ngStyle]="{'width.px':width + 105}">
    <div class="imagechange">
        <input type="file" class="ng-hide" #fileInput id="input-file-id" (change)="gotFiles($event)" />
        <a mat-mini-fab><label for="input-file-id">
          <mat-icon  class="md-18">add</mat-icon></label></a>
        <a *ngIf="changed" mat-mini-fab (click)="backtrack()"><label>
            <mat-icon   class="md-18">cancel</mat-icon></label>
        </a>
    </div>
    <canvas #theCanvas tabindex="1" (keydown)="eatKey($event)" (mousewheel)="eatMousewheel($event)" style="border:solid; float:left;"></canvas>
    <mat-slider [vertical]="true " [disabled]="!changed" [max]="maxScale " [min]="minScale " [step]="scaleStep " [invert]="true " [ngStyle]="{ 'height.px':height} " [(ngModel)]="scale " (change)="updatePositionScale() "></mat-slider>
</div>