.head {
    margin-left: -16px;
    margin-bottom: 25px;
}

.listheader {
    font-weight: bold;
    padding-bottom: 12px;
}

.row {
    max-height: 29px;
    height: 29px;
}

.rows {
    overflow: auto;
    border: solid;
    border-width: 1px;
}

.mat-list-item {
    max-height: 32px;
}