<mat-list class="lst">
    <mat-list-item class="listheader">
        <p class="col">Name</p>
        <p class="col ">Role</p>
    </mat-list-item>
    <mat-button-toggle-group #group="matButtonToggleGroup" class="head" (change)="allRoles($event.value)">
        <mat-button-toggle value="0">
            none
        </mat-button-toggle>
        <mat-button-toggle value="1">
            editor
        </mat-button-toggle>
        <mat-button-toggle value="2">
            admin
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="rows" *ngIf="theFormArray != undefined">
        <mat-list-item class="denzer" *ngFor="let role of theFormArray.controls;let i=index" [formGroupName]="i">
            <p class="col">{{toggleList[i].name}}</p>
            <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="role" class="row">
                <mat-button-toggle value="0">
                    none
                </mat-button-toggle>
                <mat-button-toggle value="1">
                    editor
                </mat-button-toggle>
                <mat-button-toggle value="2">
                    admin
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-list-item>
    </div>
</mat-list>