.col {
    min-width: 140px;
    padding-bottom: 10px;
}

.head {
    padding-left: 155px;
    margin-left: -16px;
    margin-bottom: 25px;
}

.lst {
    width: 400px;
    padding-top: -10px;
}

.listheader {
    font-weight: bold;
}

.row {
    max-height: 29px;
    height: 29px;
}

.rows {
    max-height: 300px;
    height: 300px;
    overflow: auto;
    border: solid;
    border-width: 1px;
}

.toggler {
    max-height: 29px;
}

.mat-list-item {
    max-height: 32px;
}